    @import "normalize.css";
    @import "fontpluto.css";
    /* 
    ==============================================
    ==============================================
    HEADER Section
    ==============================================
    ==============================================
    */
    
    .header {
        background-color: #FCF8F3;
        height: 12vw;
        display: inline-flex;
        width: 100%;
        text-align: center;
        font-size: 17px;
        padding: 10px;
        border-bottom: 1px solid;
        border-bottom-color: #6EC1E4;
    }
    
    #logo {
        flex: 1;
        background-color: white;
        align-content: center;
        display: flex;
        font-family: PlutoSansBlack;
        align-items: center;
        width: auto;
        height: auto;
        padding-right: 2vw;
    }
    
    #logo img {
        padding-right: 1vw;
    }
    
    #logo span {
        display: none;
        font-size: 24px;
    }
    
    #title {
        flex: 5;
        display: flex;
        text-align: right;
        font-weight: bolder;
        align-items: center;
    }
    
    #title span {
        font-family: PlutoSansRegular;
        font-size: 24px;
    }
    
    .searchContainer {
        font-family: PlutoSansLight;
        font-size-adjust: inherit;
        display: none;
        position: relative;
        border: 1px solid #6EC1E4;
        box-sizing: border-box;
        border-radius: 21px 16px 16px 16px;
        overflow: hidden;
    }
    
    .searchIcon {
        padding: 0.5rem;
    }
    
    .searchBox {
        border: 0;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        flex: 1;
    }
    
    #profile-ph {
        position: relative;
        top: -5px;
    }
    
    .show {
        display: block;
    }
    
    .user-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 38px;
        right: 0;
    }
    
    .user-dropdown-content a {
        color: white;
        background-color: #54a2c4;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .user-dropdown-content a:hover {
        background-color: #6cc0e4
    }
    
    .mobile-drop-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 100%;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 38px;
        right: 0;
    }
    
    .mobile-drop-content a {
        color: white;
        background-color: #54a2c4;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .mobile-drop-content a:hover {
        background-color: #6cc0e4
    }
    
    * {
        box-sizing: border-box;
    }
    
    #login {
        display: none;
    }
    
    #mobile {
        display: flex;
        padding-right: 10px;
        font-size: 30px;
        align-items: center;
    }
    
    #mobile a {
        font-size: 20px;
    }
    /* 
    ==============================================
    ==============================================
    MAIN Section
    ==============================================
    ==============================================
    */
    
    #main {
        flex-direction: row;
        display: flex;
        height: 100%;
    }
    
    .aside {
        flex: 1;
        width: 15vw;
        flex-basis: inherit;
        display: flex;
        flex-direction: column;
        background-color: #231F20;
        padding: 15px;
        color: #ffffff;
        text-align: center;
        font-size: 14px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    
    #rightright {
        color: #FCF8F3;
        float: right;
    }
    
    #leftbar {
        display: none;
    }
    
    .mobile-menu .icon {
        display: none;
    }
    
    .main {
        flex: 5;
        display: flex;
        width: auto;
    }
    
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    /* 
    ==============================================
    ==============================================
    MEDIA Query Section
    ==============================================
    ==============================================
    */
    /* For mobile phones: */
    
    @media only screen and (max-width: 500px) {
        [class*="col-"] {
            width: 100%;
        }
        .header {
            height: 18vw;
        }
    }
    
    .aside #rightright {
        width: 30%;
    }
    
    @media only screen and (min-width: 600px) {
        /* For tablets: */
        #logo span {
            display: none;
        }
        #logo img {
            max-width: auto;
            max-height: 6vw;
        }
        .header {
            height: 8vw;
        }
        #rightright {
            width: 30%;
        }
    }
    
    @media only screen and (min-width: 750px) {
        /* For desktop: */
        .header {
            height: 80px;
        }
        .searchContainer {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }
        #logo img {
            padding-right: 10px;
        }
        #logo span {
            display: flex;
        }
        #login {
            font-family: PlutoSansCondMedium;
            display: flex;
            flex: 1;
            text-align: right;
            align-items: center;
            align-content: right;
            justify-content: right;
        }
        #login img {
            max-width: 110px;
            max-height: 30px;
            width: auto;
            height: auto;
            float: right;
            padding-right: 20px;
        }
        #mobile {
            display: none;
        }
        #leftbar {
            display: flex;
        }
    }
    
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }