@import 'fontpluto';
@import 'normalize';

/* ==============================================
Books Section
============================================== */

.booksList {
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 20;
    align-items: center;
    border-top: solid 2px;
    border-bottom: solid 2px;
  
    .bookImg {
      width: 176px;
      height: 264px;
      
    }
  
    .bookInfoContent {
      justify-content: flex-start;
      display: flex;
      flex-direction: column;
      overflow: wrap;
      padding-left: 3vw;
    }
    
    .infoTitle {
      display: flex;
      justify-content: space-between;
      align-content: center;
      padding-bottom: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    .bTitle {
      font-family: PlutoSansCondBold;
      font-size: 18px;
      color: #5EB4DD;
    }
    
    .bDate {
      font-family: PlutoSansCondRegular;
      color: #858585;
    }
    
    .bookType {
      font-family: PlutoSansCondRegular;
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    
    .bType {
      color: #383838;
      white-space: nowrap;
    }
    
    .autor {
      color: #858585;
      flex-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
    .infoSubtitle {
      font-family: PlutoSansCondBold;
      display: flex;
      justify-content: flex-start;
      align-content: center;
      color: #858585;
      padding-bottom: 4px;
    }
    
    .pages {
      font-family: PlutoSansCondRegular;
      display: flex;
      justify-content: flex-start;
      align-content: center;
      color: #383838;
      padding-bottom: 18px;
    }
    
    .synopsis {
      font-family: PlutoSansCondRegular;
      display: flex;
      justify-content: flex-start;
      text-align: left;
      color: #858585;
    }
    
    .infoRate {
      display: flex;
      justify-content: flex-start;
      color: #6EC1E4;
      padding-bottom: 18px;
      font-family: PlutoSansCondMedium;
    }
    
    .recommended {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 18px;
    }
    
  
  }
  
  
  
  
  
  .books {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 20;
  }
  
  .bookImg {
    width: 176px;
    height: 264px;
    position: relative;
  }
  
  .container {
    position: relative;
    width: 100%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover {
    .image {
      filter: brightness(50%);
      -webkit-filter: brightness(50%);
    }
  
    .middle,
    .button,
    .text {
      opacity: 1;
    }
  }
  
  .text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 5%;
    left: 25%;
    color: #FCF8F3;
    font-family: PlutoSansCondMedium;
    text-align: center;
  
    div {
      padding-bottom: 10px;
      font-size: 12px;
    }
  
    span {
      color: #EEC75A;
      text-align: center;
      font-size: 12px;
    }
  }
  
  .button {
    transition: .5s ease;
    opacity: 0;
    background: #FFFFFF;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .button1 {
    position: absolute;
    top: 8px;
    left: 16px;
    width: 30px;
    height: 30px;
    color: #9E9E9E;
  }
  
  .button2 {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 30px;
    height: 30px;
    color: #9E9E9E;
  }
  
  .button3 {
    width: 50px;
    height: 50px;
    color: #6EC1E4;
    font-size: 22px;
    text-align: center;
    float: center;
  }
  
  .available {
    position: absolute;
    top: 17%;
    right: 1%;
  
    &:hover {
      opacity: 0.3;
    }
  }
  
  .bookTitle {
    font-family: PlutoSansCondMedium;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #383838;
    width: 176px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  
  .bookAutor {
    font-family: PlutoSansCondLight;
    font-size: 13px;
    color: #9E9E9E;
    width: 176px;
    padding-bottom: 5px;
  }
  
  .bookRate {
    color: #6EC1E4;
    width: 176px;
    font-family: PlutoSansCondMedium;
  }
  