@import 'fontpluto';

/* ==============================================
BookInfo Section
============================================== */
.more{
    display: none;
  }
  .bookInfoContent {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    overflow: wrap;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vw;
  }
  
  .infoTitle {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .bTitle {
    font-family: PlutoSansCondBold;
    color: #5EB4DD;
  }
  
  .bDate {
    font-family: PlutoSansCondRegular;
    color: #858585;
  }
  
  .bookType {
    font-family: PlutoSansCondRegular;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .bType {
    color: white;
    white-space: nowrap;
  }
  
  .autor {
    color: #858585;
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .infoSubtitle {
    font-family: PlutoSansCondBold;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    color: #858585;
    padding-bottom: 4px;
  }
  
  .pages {
    font-family: PlutoSansCondRegular;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    color: white;
    padding-bottom: 18px;
  }
  
  .synopsis {
    font-family: PlutoSansCondRegular;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    color: white;
    max-height: 185px;
    overflow: hidden;
    text-overflow: ellipsis;
    //white-space: nowrap;
  
  }
  
  .infoRate {
    display: flex;
    justify-content: flex-start;
    color: #6EC1E4;
    padding-bottom: 18px;
    font-family: PlutoSansCondMedium;
  }
  
  .recommended {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 18px;
  }
  
  .lend{
    font-family: PlutoSansCondRegular;
    padding: 5px;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    display: inline-flex;
    form {
      display: flex;
      flex-direction: column;
      align-items: space-between;
      justify-items: space-between;
      button{
      padding-left: 2px;
    }
    }
  
  }
  