
@import 'fontpluto';

.pagination {
    display: inline-flex;
  flex-direction: row;
    margin-top: 15px;
  font-family: PlutoSansCondRegular;
  align-content: center;
  justify-content: center;
}
.pagination span {
  cursor: pointer;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination span.active {
  background-color: #0099FF;
  color: white;
  border: 1px solid #0099FF;
}
.pagination button{
  padding: 8px 16px;
}